.formControl {
  display: block;
  line-height: 0.9;

  .inputWrapper {
    width: 500px;
  }

  .inputWrapper > button {
    position: absolute;
    right: -15px;
  }

  .detailsBlock {
    display: grid;
    grid-template-areas: "block-1 block-2"  
                        "block-3 block-4"; 
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
    padding: 0 15px;
    border: 1px solid black;

    .title {
      text-align: center;
    }

    .authorBlock {
      grid-area: block-1;

      > button {
        display: block;
        margin: 10px auto;
      }
    }

    .durationBlock {
      grid-area: block-3;

      .durationString {
        font-size: 25px;

        .durationStringNumber {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }

    .existedAuthorsBlock {
      grid-area: block-2;
      text-align: center;

    }

    .courseAuthorsBlock {
      grid-area: block-4;
      text-align: center;
    }
  }
}

.formControl > label {
   margin-top: 15px;
}
