.wrapper {
  margin: 0px 30px;
}

.description {
  width: 55%;
}

.details {
  width: 35%;

  .detailsTitle {
    font-weight: bold;
  }
}

.title {
  text-align: center;
} 

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
