.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding: 20px;
  border: 2px solid green;

  .info {
    width: 65%;

    .title {
      margin: 10px 0;
    }
  }

  .details {
    width: 30%;
  
    .authors {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    .detailsTitle {
      font-weight: bold;
    }
    
    .buttonContainer {
      text-align: center;
    }
  }
}
