.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid red;

  .userName {
    padding: 0 20px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
